@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("https://img.freepik.com/premium-vector/pink-watercolor-abstract-background-illustration_178156-11.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.signup-box {
  background-image: url("https://i.pinimg.com/736x/26/ce/7f/26ce7f53face24142d056e7886d736b5.jpg");
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.signup-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: green;
}
.toggle-password {
  cursor: pointer;
  font-size: 12px;
  color: #007bff;
  float: right;
  margin-right: 5px;
  margin-top: -30px;
  position: relative;
}

.toggle-password:hover {
  color: #0056b3;
}
